* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #FAEE06;
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.cyber-main {
    display: block;
    padding: 5%;
}

.cyber-title {
    text-align: center;
}

